<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    {% seo title=false %}
    <link rel="stylesheet" href="/dist/bundle.css">
</head>
<body>
    <div class="container-fluid bg-primary">
        <div class="container">
            <nav id="menu" class="nav justify-content-end">
                <a class="nav-item nav-link" href="/ideario/">Ideario</a>   
            </nav>
        </div>
    </div>
    <div class="container-fluid content pb-2">
        <div class="container">
            <a href="/"><img class="logo img-fluid mx-auto d-block pb-4" alt="Piratas - European Pirates" src="/img/piratas.png"></a>
            {{ content }}
        </div>
    </div>
    <footer>
        <p>{{ site.title }}</p>
    </footer>
    <script src="/dist/bundle.js"></script>
</body>
</html>