<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ site.title }}</title>
    {% seo title=false %}
    <link rel="preload" href="/img/piratas.png" as="image" />
    <link
      rel="preload"
      href="/dist/fonts/ubuntu-latin-400-normal.woff2"
      crossorigin="anonymous"
      as="font"
      type="font/woff2"
    />
    <link
      rel="preload"
      href="/dist/fonts/ubuntu-latin-700-normal.woff2"
      crossorigin="anonymous"
      as="font"
      type="font/woff2"
    />
    <link rel="stylesheet" href="/dist/bundle.css" />
  </head>
  <body>
    <header>
      <a href="/">
        <h1><img alt="Piratas" src="/img/piratas.png" /></h1>
      </a>
      <p>
        Derechos humanos, democracia directa, software y cultura libres, datos y
        acceso abierto, transparencia, feminismo y una economía para las
        personas
      </p>
    </header>
    <main>{{ content }}</main>
    <footer>
      <p>{{ site.title }}</p>
    </footer>
  </body>
</html>
