:root {
  --sans-font: Ubuntu, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    Oxygen, Cantarell, open sans, helvetica neue, sans-serif;
}

@import url("~simpledotcss/simple.css");

h1 img {
  width: 80%;
  max-width: 452px;
  padding: 1rem;
}

h4 {
  line-height: 1.25;
  margin-bottom: -0.5rem;
}

.notice {
  background: var(--accent-bg);
  border: 2px solid var(--border);
  border-radius: 5px;
  padding: 1.5rem;
  margin: 2rem 0;
}
