// Based on https://simonhearne.com/2021/layout-shifts-webfonts/
/* ubuntu-latin-400-normal*/
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-display: optional;
  font-weight: 400;
  src: url('~@fontsource/ubuntu/files/ubuntu-latin-400-normal.woff2') format("woff2");
}
/* ubuntu-latin-700-normal*/
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-display: optional;
  font-weight: 700;
  src: url('~@fontsource/ubuntu/files/ubuntu-latin-700-normal.woff2') format("woff2");
}
